!!!
%html
  %head
    %title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag 'application'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = csrf_meta_tags
  %body
    #main.container
      - if success
        .alert.alert-success.alert-dismissible.fade.in{role: 'alert'}
          %button.close{type: 'button', data: { dismiss: 'alert' }, aria: { hidden: 'true'}}
            %span{ aria: { hidden: 'true' }} &times;
          %p= success
      - if error
        .alert.alert-danger.alert-dismissible.fade.in{role: 'alert'}
          %button.close{type: 'button', data: { dismiss: 'alert' }, aria: { hidden: 'true'}}
            %span{ aria: { hidden: 'true' }} &times;
          %p= error
      = yield

    %footer.container
      Made with <i class="fa fa-heart"></i> by your pals <a href="http://www.twilio.com">@twilio</a>.
